.trick {
    width: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spades-broken {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.spades-broken.broken {
    display: block;
}