.hand {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.hand .hand-cards {
    display: flex;
}

.hand:nth-child(even) .hand-cards {
    flex-direction: column;
}

.hand:nth-child(1) {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.hand:nth-child(2) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: row;
}

.hand:nth-child(3) {
    top: 0;
    right: 50%;
    transform: translateX(50%);
}

.hand:nth-child(4) {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: row;
}

.hand:nth-child(2) .card {
    transform: rotate(90deg);
}

.hand:nth-child(4) .card {
    transform: rotate(-90deg);
}

.hand-info {
    text-align: center;
}