.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.model {
	background-color: white;
	height: 40rem;
	width: 60rem;
	display: grid;
	place-items: center;
}

#score_history {

}